#Title{
    text-align: center;
    text-shadow: darkblue;
    color: crimson;
    font-size: 24px;

}
#imag{
    align-self: center;}
.paragra{ color: blue;
text-align: center;

}
#l1{
    text-align: center;
    color: purple;
    font-size: 20px;
}